### Oppgave 3 - Databehandling

#### Behandling og sammenstilling av historiske datapunkter 
Mulige værdata kategorier man kan hente ut fra funksjonen dataframe_metar og datasettet: Airport, Date/time, Wind_direction, Wind_speed, Gust_speed, Variable_wind, Cloud 1, Cloud 2, CLoud 3, Cloud 4, Cloud 5, Temperature, Dewpoint, QNH.

In [1]:
# Imporerer nødvendig blibliotek
import sys, os
import pandas as pd

sys.path.insert(0, '../src/')
#henter dataFrame_metar.py fil fra src mappa.
import dataFrame_metar as dataframe

#### Henter data fra json-filer

In [2]:
airport1 = "ENOL"
airport2 = "ENBO"

#Mulige kolonner: ["Airport", "Date/time", "Wind_direction", "Wind_speed","Gust_speed", "Variable wind", "Cloud 1", "Cloud 2", "Cloud 3", "Cloud 4", "Cloud 5", "Temperature", "Dewpoint", "QNH"]
#Velger spesifikke kolonner med data, for å ikke ta med unødvending data videre i analysen
column_names = ["Airport", "Date/time", "Wind_direction", "Wind_speed","Gust_speed", "Temperature", "Dewpoint", "QNH"]
#Henter data fra json-filene
file_paths = {
    f"{airport1}": f'../data/json/{airport1}_metar_data.json',
    f"{airport2}": f'../data/json/{airport2}_metar_data.json'
}

dfs = {}

#Itererer gjennom filene i file_paths for å lagre det som en DataFrame.
for airport, file_path in file_paths.items():
    if not os.path.exists(file_path):
        print(f"Filen {file_path} finnes ikke")
    else:
        df_m = pd.read_json(file_path)
        dfs[airport] = dataframe.metar_df(column_names, df_m)
        

        #df = dataframe.metar_df(column_names, df_m)
        print(f"filene fra filbanen: {file_path}, er lagret som en dataframe for {airport}")

data_airport1 = dfs.get(f"{airport1}")
data_airport2 = dfs.get(f"{airport2}")

filene fra filbanen: ../data/json/ENOL_metar_data.json, er lagret som en dataframe for ENOL
filene fra filbanen: ../data/json/ENBO_metar_data.json, er lagret som en dataframe for ENBO

#### Forståelse for data

In [3]:
print('type:', type(data_airport1))
print('shape:', data_airport1.shape)
data_airport1

type: <class 'pandas.core.frame.DataFrame'>
shape: (17708, 8)

,Airport,Date/time,Wind_direction,Wind_speed,Gust_speed,Temperature,Dewpoint,QNH
0,ENOL,010020Z,120,31,NaN,-3,-9,1007
1,ENOL,010050Z,120,31,NaN,-3,-9,1006
2,ENOL,010120Z,120,32,NaN,-3,-9,1006
3,ENOL,010150Z,120,29,39,-3,-9,1006
4,ENOL,010220Z,120,30,44,-3,-10,1006
...,...,...,...,...,...,...,...,...
17703,ENOL,312150Z,110,10,NaN,-3,-6,0999
17704,ENOL,312220Z,120,11,NaN,-3,-7,0999
17705,ENOL,312250Z,130,12,NaN,-3,-6,0998
17706,ENOL,312320Z,110,10,NaN,-3,-6,0998
17707,ENOL,312350Z,120,9,NaN,-4,-7,0998

Datasettet blir strukturert ved hjelp pandas.Dataframe i åtte forskjellige vær kategorier. Av datapunktene vi henter, er den største ureglmessigheten som forekommer lengden av hver linje. Dette er både uavhengige og avhengige variabler som vi skal benytte i analysen vår. I denne delen blir hele datasettet lest fra en json-fil, deretter filtrert ved bruk av list comprehensions og til slutt lagret i en csv-fil. Vi har valgt å ekskludere deler av dataen, da vi anser dette som irrelevant. Gjennom hele prosessen benytter vi pandas funksjonaliteter, på bakgrunn av at den gir et ryddig resultat som er lett å forstå. Senere vil vi benytte flere av Pandas-bibliotektet sine funksjonaliteter.

#### Utsnitt av en dataframe
Et utsnitt av DataFramen som er kategorisert i åtte forskjellige kategorier vist ovenfor. Hver variable er forutsigbar med unntak av variabelen 'gust_speed', og som vises gjennom NaN funksjonaliteten.

In [4]:
#Sjekker om dataene er lastet inn i dataframes og tester med 10 tilfeldige punkter
data_airport2.sample(10)

,Airport,Date/time,Wind_direction,Wind_speed,Gust_speed,Temperature,Dewpoint,QNH
5683,ENBO,270550Z,100,12,NaN,5,-3,1014
16389,ENBO,031520Z,70,7,NaN,-1,-5,1018
1486,ENBO,311350Z,200,13,NaN,4,3,0981
12893,ENBO,221850Z,90,6,NaN,6,3,1017
13025,ENBO,251050Z,90,8,NaN,10,1,0994
6927,ENBO,221750Z,20,9,NaN,20,4,1018
13647,ENBO,080820Z,110,16,NaN,4,0,1008
10586,ENBO,052150Z,110,10,NaN,18,14,1013
3007,ENBO,021950Z,90,15,NaN,5,-2,1016
2056,ENBO,120750Z,110,30,NaN,-4,-15,1011

#### Lagrer som csv-filer
Lagrer Dataframen som csv-filer i mappa 'data'.

In [5]:
data_airport1.to_csv('../data/csv/ENOL_wind_data.csv', index = False)
data_airport2.to_csv('../data/csv/ENBO_wind_data.csv', index = False)
print(f"Dataframen er lagret som csv-filer.")

Dataframen er lagret som csv-filer.

#### Data cleaning - dupliseringer

In [6]:
# Removing duplicates
data_airport1.drop_duplicates(inplace=True)
data_airport1

,Airport,Date/time,Wind_direction,Wind_speed,Gust_speed,Temperature,Dewpoint,QNH
0,ENOL,010020Z,120,31,NaN,-3,-9,1007
1,ENOL,010050Z,120,31,NaN,-3,-9,1006
2,ENOL,010120Z,120,32,NaN,-3,-9,1006
3,ENOL,010150Z,120,29,39,-3,-9,1006
4,ENOL,010220Z,120,30,44,-3,-10,1006
...,...,...,...,...,...,...,...,...
17703,ENOL,312150Z,110,10,NaN,-3,-6,0999
17704,ENOL,312220Z,120,11,NaN,-3,-7,0999
17705,ENOL,312250Z,130,12,NaN,-3,-6,0998
17706,ENOL,312320Z,110,10,NaN,-3,-6,0998
17707,ENOL,312350Z,120,9,NaN,-4,-7,0998

Sjekker for dupliseringer av datapunkter/linjer i datasette, og ser at antallet duplikater er ca 150 (ser på totale antall rader lengre opp). I datasettet vårt har vi en kolonne som inneholder dato og tid i zulu, men skiller ikke på de forskjellige månedene. Det vil forekomme likt antall dato/tid verdier for hver måned; (date/time kolonnen 010020z - 292350z/302350z/312350z, ganger 12 måneder).

### Data cleaning - manglende data

In [7]:
# Velger flyplass
import pandas as pd
airport = "ENOL"

In [8]:
file_path = f'../data/csv/{airport}_wind_data.csv'
df_airport = pd.read_csv(file_path)

In [9]:
df_airport.shape
df_airport.round(1).info()
df_airport.describe(include='all').round(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17708 entries, 0 to 17707
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Airport         17708 non-null  object
 1   Date/time       17708 non-null  object
 2   Wind_direction  17708 non-null  int64
 3   Wind_speed      17708 non-null  int64
 4   Gust_speed      685 non-null    float64
 5   Temperature     17707 non-null  float64
 6   Dewpoint        17707 non-null  float64
 7   QNH             17708 non-null  int64
dtypes: float64(3), int64(3), object(2)
memory usage: 1.1+ MB

,Airport,Date/time,Wind_direction,Wind_speed,Gust_speed,Temperature,Dewpoint,QNH
count,17708,17708,17708.0,17708.0,685.0,17707.0,17707.0,17708.0
unique,1,1493,NaN,NaN,NaN,NaN,NaN,NaN
top,ENOL,201850Z,NaN,NaN,NaN,NaN,NaN,NaN
freq,17708,14,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,182.3,11.8,40.3,8.0,3.9,1007.9
std,NaN,NaN,93.3,7.1,7.4,6.6,6.4,12.9
min,NaN,NaN,0.0,0.0,19.0,-14.0,-16.0,956.0
25%,NaN,NaN,120.0,7.0,35.0,4.0,0.0,1000.0
50%,NaN,NaN,140.0,11.0,40.0,8.0,4.0,1008.0
75%,NaN,NaN,260.0,16.0,44.0,13.0,9.0,1017.0
max,NaN,NaN,360.0,54.0,71.0,30.0,32.0,1040.0

In [10]:
# Identifiserer missing data
print("Tilfeller av missing data")
print(df_airport.isnull().sum())

print("Tilfeller av registrert data")
print(df_airport.count())

Tilfeller av missing data
Airport               0
Date/time             0
Wind_direction        0
Wind_speed            0
Gust_speed        17023
Temperature           1
Dewpoint              1
QNH                   0
dtype: int64
Tilfeller av registrert data
Airport           17708
Date/time         17708
Wind_direction    17708
Wind_speed        17708
Gust_speed          685
Temperature       17707
Dewpoint          17707
QNH               17708
dtype: int64

Her ser vi at datasettet mangler svært få linjer, og som nevnt tidligere er det kun i kolonnen 'gust_speed', hvor det forekommer manglende dataverdier. Gust_speed eller vindkast hastighet er en verdi som kun blir rapportert dersom den er over en nedre grense på 25 knop. Det gir derfor mening at datasette innholder manglende verdier her.

Oppsummert har vi valgt å analysere forutsigbare varibler fra datasettet vårt, hvor det kun er vindkast hastighet som varierer. Vi har benyttet NaN funksjonaliteten for manglende verdier, men velger å ikke fjerne dupliseringer i vår videre analyse.

### Håndtering av datasett med mangler.

Da datasette vårt kun mangler data for gust_speed, som er en avhengig variabel av vindhastighet, har vi valgt å manipulere et eget datasett. Datasettet ligger under csv-mappa i data-mappa og heter ENOL_wind_data_missing_april, hvor vi her har fjernet alle datapunkter i april.

In [11]:
# Datasett som mangler april
file_path_missing_data = '../data/csv/ENOL_wind_data_missing_april.csv'
df_airport_missing_data = pd.read_csv(file_path_missing_data)

In [12]:
print("Tilfeller av missing data")
print(df_airport_missing_data.isnull().sum())

print("Tilfeller av registrert data")
print(df_airport_missing_data.count())

Tilfeller av missing data
Airport            1488
Date/time          1488
Wind_direction     1488
Wind_speed         1488
Gust_speed        17080
QNH                1488
dtype: int64
Tilfeller av registrert data
Airport           16256
Date/time         16256
Wind_direction    16256
Wind_speed        16256
Gust_speed          664
QNH               16256
dtype: int64

Vi ser at det mangler store mengder data i dette settet, som hadde gitt oss unøyaktige og urealistiske resultater i analysen vår.
I 06_prediktiv_analyse ser vi nærmere på manglende datapunketer, og da spesielt variabelen "gust_speed" som er relativt ufortsigbare. Metoder som vil bli brukt for å predikere manglende data senere er missingno.