### Oppgave 3 - Databehandling

#### Behandling og sammenstilling av historiske datapunkter 
Mulige værdata kategorier man kan hente ut fra funksjonen dataframe_metar: Airport, Date/time, Wind_direction, Wind_speed, Gust_speed, Variable_wind, Cloud 1, Cloud 2, CLoud 3, Cloud 4, Cloud 5, Temperature, Dewpoint, QNH.

In [2]:
import sys, os
import pandas as pd

sys.path.insert(0, '../src/')
#henter dataFrame_metar.py fil fra src mappa.
import dataFrame_metar as dataframe

airport1 = "ENOL"
airport2 = "ENBO"

#Mulige kolonner: ["Airport", "Date/time", "Wind_direction", "Wind_speed","Gust_speed", "Variable wind", "Cloud 1", "Cloud 2", "Cloud 3", "Cloud 4", "Cloud 5", "Temperature", "dewpoint", "QNH"]
#Velger spesifikke kolonner med data, for å ikke ta med unødvending data videre i analysen
column_names = ["Airport", "Date/time", "Wind_direction", "Wind_speed", "Gust_speed","Temperature","Dewpoint","QNH"] 


#Henter data fra json-filene
file_paths = {
    f"{airport1}": f'../data/json/{airport1}_metar_data.json',
    f"{airport2}": f'../data/json/{airport2}_metar_data.json'
}

dfs = {}

#Itererer gjennom filene i file_paths for å lagre det som en data frame.
for airport, file_path in file_paths.items():
    if not os.path.exists(file_path):
        print(f"Filen {file_path} finnes ikke")
    else:
        df_m = pd.read_json(file_path)
        dfs[airport] = dataframe.metar_df(column_names, df_m)
        #df = dataframe.metar_df(column_names, df_m)
        print(f"filene fra filbanen: {file_path}, er lagret som en dataframe for {airport}")

df_airport1 = dfs.get(f"{airport1}")
df_airport2 = dfs.get(f"{airport2}")

filene fra filbanen: ../data/json/ENOL_metar_data.json, er lagret som en dataframe for ENOL
filene fra filbanen: ../data/json/ENBO_metar_data.json, er lagret som en dataframe for ENBO

#### Utsnitt av en dataframe

In [3]:
#Sjekker om dataene er lastet inn i dataframes og tester med 10 tilfeldige punkter
df_airport2.sample(10)

,Airport,Date/time,Wind_direction,Wind_speed,Gust_speed,Temperature,Dewpoint,QNH
3640,ENBO,152350Z,300,27,NaN,0,-5,1001
541,ENBO,120450Z,350,11,NaN,2,-1,1014
2184,ENBO,141920Z,90,28,NaN,-6,-12,1007
10739,ENBO,090220Z,250,21,NaN,15,14,1004
6263,ENBO,090350Z,100,12,NaN,5,-1,1014
16166,ENBO,290220Z,290,27,37,2,-2,1009
16100,ENBO,271750Z,110,8,NaN,2,0,1016
6668,ENBO,171120Z,170,5,NaN,21,6,1016
1963,ENBO,100950Z,100,17,NaN,-4,-9,1007
4865,ENBO,101350Z,270,7,NaN,6,6,0987

Lagerer data fra kolonnene: Airport, Date/time, Wind_direction, Wind_speed, Gust_speed og QNH. De nye csv-filene inkulderer kun de angitte kolonnenavnene, da vi anser de andre dataene som både uforutsigbare og unødvendige for vår analyse.

#### Lagrer dataframe som csv-filer

In [4]:
df_airport1.to_csv('../data/csv/ENOL_wind_data.csv', index = False)
df_airport2.to_csv('../data/csv/ENBO_wind_data.csv', index = False)
print(f"Dataframen er lagret som csv-filer.")

Dataframen er lagret som csv-filer.

Velger flyplass

In [12]:
airport = "ENOL"

### Data cleaning

In [16]:
file_path = f'../data/csv/{airport}_wind_data.csv'
df_airport = pd.read_csv(file_path)

In [17]:
df_airport.shape
df_airport.round(1).info()
df_airport.describe(include='all').round(1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17708 entries, 0 to 17707
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Airport         17708 non-null  object
 1   Date/time       17708 non-null  object
 2   Wind_direction  17708 non-null  int64
 3   Wind_speed      17708 non-null  int64
 4   Gust_speed      685 non-null    float64
 5   Temperature     17707 non-null  float64
 6   Dewpoint        17707 non-null  float64
 7   QNH             17708 non-null  int64
dtypes: float64(3), int64(3), object(2)
memory usage: 1.1+ MB

,Airport,Date/time,Wind_direction,Wind_speed,Gust_speed,Temperature,Dewpoint,QNH
count,17708,17708,17708.0,17708.0,685.0,17707.0,17707.0,17708.0
unique,1,1493,NaN,NaN,NaN,NaN,NaN,NaN
top,ENOL,201850Z,NaN,NaN,NaN,NaN,NaN,NaN
freq,17708,14,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,182.3,11.8,40.3,8.0,3.9,1007.9
std,NaN,NaN,93.3,7.1,7.4,6.6,6.4,12.9
min,NaN,NaN,0.0,0.0,19.0,-14.0,-16.0,956.0
25%,NaN,NaN,120.0,7.0,35.0,4.0,0.0,1000.0
50%,NaN,NaN,140.0,11.0,40.0,8.0,4.0,1008.0
75%,NaN,NaN,260.0,16.0,44.0,13.0,9.0,1017.0
max,NaN,NaN,360.0,54.0,71.0,30.0,32.0,1040.0

In [8]:
# Identifiserer missing data
print("Tilfeller av missing data")
print(df_airport.isnull().sum())

print("Tilfeller av registrert data")
print(df_airport.count())

Tilfeller av missing data
Airport               0
Date/time             0
Wind_direction        0
Wind_speed            0
Gust_speed        17259
Temperature           2
Dewpoint              2
QNH                   0
dtype: int64
Tilfeller av registrert data
Airport           17791
Date/time         17791
Wind_direction    17791
Wind_speed        17791
Gust_speed          532
Temperature       17789
Dewpoint          17789
QNH               17791
dtype: int64

Her ser vi at datasettet mangler svært få linjer, for de fleste kolonner, med unntak av Gust_speed.
Det gir mening at det er manglende data for nettopp Gust_speed da dette er data som kun blir rapportert dersom den er over en nedre grense på 25 knop.

### Håndtering av datasett med mangler.

#### Dette datasettet mangler april

In [9]:
file_path_missing_data = '../data/csv/ENOL_wind_data_missing_april.csv'
df_airport_missing_data = pd.read_csv(file_path_missing_data) # Datasett som mangler april

In [10]:
print("Tilfeller av missing data")
print(df_airport_missing_data.isnull().sum())

print("Tilfeller av registrert data")
print(df_airport_missing_data.count())

Tilfeller av missing data
Airport            1488
Date/time          1488
Wind_direction     1488
Wind_speed         1488
Gust_speed        17080
QNH                1488
dtype: int64
Tilfeller av registrert data
Airport           16256
Date/time         16256
Wind_direction    16256
Wind_speed        16256
Gust_speed          664
QNH               16256
dtype: int64

Vi ser at det mangler store mengder data i dette settet. Vi ser nærmere på det i 06_prediktiv_analyse hvor vi også ser på msno og predikterer manglet data.