### Oppgave 3 - Databehandling

#### Behandling og sammenstilling av historiske datapunkter 
Mulige værdata kategorier man kan hente ut fra funksjonen dataframe_metar: Airport, Date/time, Wind_direction, Wind_speed, Gust_speed, Variable_wind, Cloud 1, Cloud 2, CLoud 3, Cloud 4, Cloud 5, Temperature, Dewpoint, QNH.

In [6]:
import sys, os
import pandas as pd
import nbimporter as nbi

sys.path.insert(0, '../src/')
#henter dataFrame_metar.py fil fra src mappa.
import dataFrame_metar as dataframe

airport1 = "ENOL"
airport2 = "ENBO"

#Mulige kolonner: ["Airport", "Date/time", "Wind_direction", "Wind_speed","Gust_speed", "Variable wind", "Cloud 1", "Cloud 2", "Cloud 3", "Cloud 4", "Cloud 5", "Temperature", "dewpoint", "QNH"]
#Velger spesifikke kolonner med data, for å ikke ta med unødvending data videre i analysen
column_names = ["Airport", "Date/time", "Wind_direction", "Wind_speed", "Gust_speed","Temperature","Dewpoint","QNH"] 


#Henter data fra json-filene
file_paths = {
    f"{airport1}": f'../data/json/{airport1}_metar_data.json',
    f"{airport2}": f'../data/json/{airport2}_metar_data.json'
}

dfs = {}

#Itererer gjennom filene i file_paths for å lagre det som en data frame.
for airport, file_path in file_paths.items():
    if not os.path.exists(file_path):
        print(f"Filen {file_path} finnes ikke")
    else:
        df_m = pd.read_json(file_path)
        dfs[airport] = dataframe.metar_df(column_names, df_m)
        #df = dataframe.metar_df(column_names, df_m)
        print(f"filene fra filbanen: {file_path}, er lagret som en dataframe for {airport}")

df_airport1 = dfs.get(f"{airport1}")
df_airport2 = dfs.get(f"{airport2}")

filene fra filbanen: ../data/json/ENOL_metar_data.json, er lagret som en dataframe for ENOL
filene fra filbanen: ../data/json/ENBO_metar_data.json, er lagret som en dataframe for ENBO

#### Utsnitt av en dataframe

In [7]:
#Sjekker om dataene er lastet inn i dataframes og tester med 10 tilfeldige punkter
df_airport2.sample(10)

,Airport,Date/time,Wind_direction,Wind_speed,Gust_speed,Temperature,Dewpoint,QNH
8007,ENBO,132250Z,40,6,NaN,10,9,1012
9790,ENBO,201350Z,10,6,NaN,19,14,1016
6035,ENBO,041050Z,30,7,NaN,7,0,1020
1541,ENBO,011550Z,300,34,45,0,-6,0987
8948,ENBO,030420Z,270,11,NaN,11,10,0999
10125,ENBO,271320Z,280,4,NaN,15,15,1010
2129,ENBO,131750Z,110,30,41,-1,-11,1006
78,ENBO,021620Z,90,21,NaN,-9,-18,1016
8760,ENBO,290820Z,230,10,NaN,17,16,0995
14968,ENBO,040950Z,100,11,NaN,3,2,1018

Lagerer data fra kolonnene: Airport, Date/time, Wind_direction, Wind_speed, Gust_speed og QNH. De nye csv-filene inkulderer kun de angitte kolonnenavnene, da vi anser de andre dataene som både uforutsigbare og unødvendige for vår analyse.

#### Lagrer dataframe som csv-filer

In [10]:
df_airport1.to_csv('../data/csv/ENOL_wind_data.csv', index = False)
df_airport2.to_csv('../data/csv/ENBO_wind_data.csv', index = False)
print(f"Dataframen er lagret som csv-filer.")

Dataframen er lagret som csv-filer.