### Oppgave 4 - Dataanalyse

#### Importerer nødvendige biblioteker

In [1]:
import pandas as pd 
import numpy as np

#### Valg av variabelen "flyplass", enten ENOL eller ENBO
I oppgave 4 starter vi med å definere en variabel "airport" som vi skal bruke for å analysere data for den valgte flyplassen. På denne måten trenger vi kun å bytte ut f.eks. ENOL med ENBO for å hente ut verdier fra en annen flyplass.

In [2]:
#Henter data fra flyplass til videre analysen. 
airport  = "ENOL"

#### Henter data fra csv fil

In [3]:
file_path = f'../data/csv/{airport}_wind_data.csv'
df_airport = pd.read_csv(file_path)

# Viser de første 5 rekkene av df_ENOL
df_airport.head(5)

,Airport,Date/time,Wind_direction,Wind_speed,Gust_speed,Temperature,Dewpoint,QNH
0,ENOL,010020Z,120,31,NaN,-3.0,-9.0,1007
1,ENOL,010050Z,120,31,NaN,-3.0,-9.0,1006
2,ENOL,010120Z,120,32,NaN,-3.0,-9.0,1006
3,ENOL,010150Z,120,29,39.0,-3.0,-9.0,1006
4,ENOL,010220Z,120,30,44.0,-3.0,-10.0,1006

#### Beregner statistiske mål som gjennomsnitt, median og standardavvik
Vi benytter oss av Numpy og Panda's innebygde koder for å regne ut gjennomsnitt, median og standardavvik for data som vi henter ut fra datasettet vårt. Da vi har valgt å fokusere på vind-retning og hastighet er disse verdiene viktig statistiske mål i denne analysen, fordi dette forteller oss senere hvor mye målingene varierer.

In [4]:
# Gjennomsnitt av interessant data 
avg_wind_direction = df_airport["Wind_direction"].mean().round(1)
avg_wind_speed = df_airport["Wind_speed"].mean().round(1)
avg_gust_speed = df_airport["Gust_speed"].mean().round(1)
avg_QNH = df_airport["QNH"].mean().round(1)

# Median
median_wind_direction = df_airport["Wind_direction"].median().round(1)
median_wind_speed = df_airport["Wind_speed"].median().round(1)
median_gust_speed = df_airport["Gust_speed"].median().round(1)
median_QNH = df_airport["QNH"].median().round(1)

# Standardavvik
std_wind_direction = df_airport["Wind_direction"].std().round(1)
std_wind_speed = df_airport["Wind_speed"].std().round(1)
std_gust_speed = df_airport["Gust_speed"].std().round(1)
std_QNH = df_airport["QNH"].std().round(1)

Utskrift av statistiske mål

In [5]:
print(f"Beregner gjennomsnitt av interessant data for {airport}.")
print("Gjennomsnittlig vindretning:", avg_wind_direction)
print("Gjennomsnittlig vindhastighet:", avg_wind_speed)
print("Gjennomsnittlig vindkasthastighet:", avg_gust_speed)
print("Gjennomsnittlig trykk:",avg_QNH)
print("Median vindretning:", median_wind_direction)
print("Median vindhastighet:", median_wind_speed)
print("Median vindkasthastighet:", median_gust_speed)
print("Median trykk:", median_QNH)
print("Standardavvik vindretning:", std_wind_direction)
print("Standardavvik vindhastighet:", std_wind_speed)
print("Standardavvik vindkasthastighet:", std_gust_speed)
print("Standardavvik trykk:", std_QNH)

Beregner gjennomsnitt av interessant data for ENOL.
Gjennomsnittlig vindretning: 182.3
Gjennomsnittlig vindhastighet: 11.8
Gjennomsnittlig vindkasthastighet: 40.3
Gjennomsnittlig trykk: 1007.9
Median vindretning: 140.0
Median vindhastighet: 11.0
Median vindkasthastighet: 40.0
Median trykk: 1008.0
Standardavvik vindretning: 93.3
Standardavvik vindhastighet: 7.1
Standardavvik vindkasthastighet: 7.4
Standardavvik trykk: 12.9

Det er et enormt datasett og denne framstillingen av statistiske mål gir oss en bredere forståelse av dataen vi jobber med. Dette er høyst nødvendig for å lykkes med de neste punktene som visualisering og prediktiv analyse.

Vi ser for eksempel at standardavviket på vinddata er ganske høyt noe som gjør det utfordrende å prediktere, likevel gir median og gjennomsnittlig-vinddata oss en god indikator på hvilken retning vinden som regel kommer fra. Dette ser vi nærmere på i visualiseringen i neste del.

#### Grupperer gjennomsnittlig data basert på windretning
Vi har valgt å gjennomføre en enkel statistisk analyse ved å ta gjennomsnittet av vind retning mot tre andre variabler: vindhastighet, vindkast og trykk. Vi gjør dette ved den innebygde pandas-funksjonen groupby().
Vi har dessuten valgt å gjennomføre tilsvarende analyse med variabelen trykk, mot tre andre variabler: vindretning, vindhastighet og vindkast. Dette er noe vi ser nærmere på i vår analyse i oppgave 5 og 6.

In [6]:
df_airport.groupby('Wind_direction')[['Wind_speed', 'Gust_speed', 'QNH']].mean()

                Wind_speed  Gust_speed          QNH
Wind_direction
0                 1.644647         NaN  1010.683371
10                8.880682   28.500000  1007.681818
20                8.325397         NaN  1007.412698
30                8.158273         NaN  1008.841727
40                6.285714         NaN  1007.952381
50                5.567416         NaN  1008.814607
60                5.905350   21.000000  1006.300412
70                5.696246         NaN  1004.624573
80                6.579805         NaN  1006.846906
90                6.916244         NaN  1007.571066
100               7.972678         NaN  1005.876138
110               9.550551   33.125000  1007.017017
120              12.371885   38.020000  1008.172524
130              15.233923   42.044643  1007.748382
131               0.000000         NaN  1004.000000
140              13.825000   33.500000  1002.444167
150              10.193750   34.000000  1003.381250
160               6.529851   26.000000  1004.201493
170               5.637255         NaN  1006.843137
180               6.077778         NaN  1007.305556
190               6.582857         NaN  1008.651429
200               7.317365   29.666667  1011.311377
210               8.561856   27.500000  1008.448454
220              10.640327   44.833333  1008.463215
230              13.309798   45.828571  1007.971182
240              14.806283   39.011905  1008.072251
245               2.000000         NaN   971.000000
250              16.239802   38.771739  1009.826947
260              16.047985   41.508475  1009.153551
270              17.705691   43.456790  1009.173984
280              15.155738   41.188679  1010.026639
290              13.525066   35.520000  1011.791557
300              12.519737   39.866667  1008.671053
310              11.848387   36.409091  1008.312903
320              11.143266   37.909091  1008.707736
330              11.098726   41.222222  1008.372611
340              10.460591   40.500000  1010.948276
350              10.703571   42.000000  1010.748214
360               9.749141   32.000000  1009.756014

#### Grupperer gjennomsnittlig data basert på trykk

In [7]:
df_airport.groupby('QNH')[['Wind_direction', 'Wind_speed', 'Gust_speed']].mean()

      Wind_direction  Wind_speed  Gust_speed
QNH
956       137.500000   20.750000         NaN
957       136.666667   15.833333         NaN
958       140.000000   15.750000         NaN
959       120.000000   21.500000         NaN
960       150.000000   18.333333         NaN
...              ...         ...         ...
1036      254.400000   15.900000         NaN
1037      265.555556   14.000000         NaN
1038      223.333333    8.000000         NaN
1039      197.500000    5.300000         NaN
1040      206.666667    6.666667         NaN

[85 rows x 3 columns]

#### Maksimal vindhastighet og vindkast

In [8]:
# Finner max wind og gust speed for flyplassene
max_wind_speed = df_airport["Wind_speed"].max()
max_gust_speed = df_airport["Gust_speed"].max()


# Srkriver ut max vind og gust speed
print(f"Wind og Gust speed for {airport}")
print("Maksimal vindhastighet:", max_wind_speed)
print("Maksimal styrke på vindkast:", max_gust_speed)

Wind og Gust speed for ENOL
Maksimal vindhastighet: 54
Maksimal styrke på vindkast: 71.0

In [9]:
count_wind_speed_over_45_enol = (df_airport["Wind_speed"] >= 35).sum()

print(f"Antall ganger vindhastigheten er over 30 knop på {airport}:", count_wind_speed_over_45_enol)

Antall ganger vindhastigheten er over 30 knop på ENOL: 140

### Sidevind analyse
En annen analyse vi er interessert i er hvor mange tilfeller av sidevind som oppstår på en flyplass over en periode. Grunnen til dette er fordi det påvirker flyplassen sin operasjonelle status. Vi har valgt å lage en dynamisk funskjon "is_crosswind", som sjekker alle vindretningene som ligger innenfor vårt definerte kritiske området, samt vindhastighet over 35 knop. 

Henter inn funksjonen "is_crosswind" fra src mappa og analyserer hvor mange tilfeller av datapunktene våre som har en vindretning og vindhastighet som medfører sidevind.

In [10]:
#henter fil fra src mappa.
import sys
sys.path.insert(0, '../src/')

from crosswind import is_crosswind

In [11]:
runway = 330 # beslutningsvariabel - rullebanevinkel til ENOL, kan bytte ut denne med 150 og får like mange tilfeller. 
wind_data = df_airport # data fra csv-fil 
crosswind_rows = [] # for å kunne visualisere det i en pandas.core.frame.Dateframe 
count = 0
# for-løkke som itererer over hver rad i datasettet. 

for _, datapoint in wind_data.iterrows():
    if is_crosswind(runway, datapoint["Wind_direction"], datapoint["Wind_speed"]):
        count += 1 # summerer antall tilfeller 
        crosswind_rows.append(datapoint)

# printer ut antall tilfeller med crosswind
print(f"Printer det totale antallet av tilfeller med crosswind som er lik: {count}")

# lager en data frame av crosswind_rows
crosswind_df = pd.DataFrame(crosswind_rows)
crosswind_df

Printer det totale antallet av tilfeller med crosswind som er lik: 84

,Airport,Date/time,Wind_direction,Wind_speed,Gust_speed,Temperature,Dewpoint,QNH
1293,ENOL,271350Z,230,41,56.0,9.0,2.0,1000
1495,ENOL,311820Z,250,37,48.0,5.0,2.0,975
1499,ENOL,312020Z,220,43,55.0,5.0,-4.0,971
1500,ENOL,312050Z,220,46,60.0,5.0,-2.0,971
1501,ENOL,312120Z,220,40,51.0,2.0,0.0,971
...,...,...,...,...,...,...,...,...
16973,ENOL,161950Z,270,37,49.0,4.0,2.0,990
16974,ENOL,162020Z,270,36,47.0,4.0,1.0,991
16977,ENOL,162150Z,270,35,46.0,4.0,2.0,992
17598,ENOL,291750Z,260,35,45.0,2.0,-2.0,992
17600,ENOL,291850Z,250,36,46.0,1.0,-1.0,992

#### Optimal rullebaneretning i forhold til sidevind - bruk av historisk data

In [ ]:
runway = 330 # beslutningsvariabel - rullebanevinkel til ENOL, kan bytte ut denne med 150 og få like mange tilfeller. 
wind_data = df_airport #data fra csv-fil 
best_crosswind_rows = [] #for å kunne visualisere det i en pandas.core.frame.Dateframe 
best_count = float('inf')
optimal_runway = -1

#for-løkke som itererer over hver rad i datasettet. 
for angles in range(0, 180):
    count = 0
    temp_crosswind_rows = []

    for _, datapoint in wind_data.iterrows():
        if is_crosswind(angles, datapoint["Wind_direction"], datapoint["Wind_speed"]):
            count += 1 # summerer antall tilfeller 
            temp_crosswind_rows.append(datapoint)

    if count < best_count:
        best_count = count 
        optimal_runway = angles 
        best_crosswind_rows = temp_crosswind_rows

#print(f"Printer det totale antallet av tilfeller med sidevind som er lik: {count}")
print(f"Ved rullebaneretning: {optimal_runway}, er det {best_count} tilfeller av sidevind ved {airport}.")
crosswind_df = pd.DataFrame(crosswind_rows)

crosswind_df.head(5)

Ved rullebaneretning: 85, er det 7 tilfeller av sidevind ved ENOL.

,Airport,Date/time,Wind_direction,Wind_speed,Gust_speed,Temperature,Dewpoint,QNH
14,ENOL,010720Z,130,35,45.0,-2.0,-9.0,1007
16,ENOL,010820Z,120,36,48.0,-2.0,-9.0,1007
17,ENOL,010850Z,130,36,NaN,-2.0,-9.0,1007
18,ENOL,010920Z,130,36,48.0,-2.0,-9.0,1008
19,ENOL,010950Z,130,39,49.0,-2.0,-10.0,1007

#### Refleksjon over datasettet
Ved eventuelle skjevheter eller der vi vet vi ikke nødvendigvis får data hver gang, jobber vi kritisk med resultatene vi får. Da vi kjenner til måten dataen fungerer på, har vi også en tanke på hvilke resultater vi forventer. Ved hjelp av bibliotekte missingno og dens innbygde funksjonen msno.matrix kan vi enkelt visualisere manglende verdier i datasettet vårt. Vi vet at metar-data alltid gir verdier som vindretning, vindhastighet og trykk. Det som kan variere er vindkast, som vi planlegger å sjekke. For å sjekke at programmet vårt klarer å håndtere manglende verdier fra flere variabler, vil vi med vilje slette noen datapunkter.

I vår analyse bruker vi ulike visualiseringsverktøyer for å underbygge analysen vår av ulike variabler. Analysen tar for seg forskjellige visualiseringer som scatterplott i 2D, vindrose, linjediagram og korrelasjon av ulike variabler, widgets, mm.