I del 1 av Oppgave 3 ser vi en data frame som henter ut et sample av 10 linjer med data og plasserer de i sine respektive kolonner. Det har vi løst med list comprehension. Vi ser også at manglende verdier blir fylt med NaN. 

I vårt prosjekt ser vi i hovedsak på vind-retning og -hastighet. Dette er verdier **. Derfor kjører vi en annen funksjon nedenfor som eksluderer irrelevante kolonner for vårt prosjekt.

In [1]:
import sys, os
import pandas as pd

sys.path.insert(0, '../src/')
#henter dataFrame_metar.py fil fra src mappa.
import dataFrame_wind as dataframe

#variabler 
column_names = ["Airport", "Date/time", "Wind_direction", "Wind_speed"]

#column_names = ["Airport", "Date/time", "Wind/direction", "Variable wind", "Cloud 1", "Cloud 2", "Cloud 3", "Cloud 4", "Cloud 5", "Temp/dewpoint", "QNH/pressure"]
#Henter filene fra data mappa
file_paths = {
    "ENOL": '../data/ENOL_metar_data.json',
    "ENBO": '../data/ENBO_metar_data.json'
}

dfs = {}

#Itererer gjennom filene i file_paths
for airport, file_path in file_paths.items():
    if not os.path.exists(file_path):
        print(f"Filen {file_path} finnes ikke")
    else:
        df_m = pd.read_json(file_path)
        dfs[airport] = dataframe.metar_df(column_names, df_m)
        #df = dataframe.metar_df(column_names, df_m)
        print(f"filene {file_path} er lagret i dataframe for {airport}")

df_ENBO = dfs.get("ENBO")
df_ENOL = dfs.get("ENOL")

filene ../data/ENOL_metar_data.json er lagret i dataframe for ENOL
filene ../data/ENBO_metar_data.json er lagret i dataframe for ENBO

Henter ut et sample for Bodø og Ørland.

In [4]:
df_ENBO.sample(10)

      Airport Date/time Wind_direction Wind_speed
4342     ENBO   301620Z             90         11
8458     ENBO   230420Z             90         16
796      ENBO   171220Z            100         30
13893    ENBO   131050Z            140         10
11865    ENBO   011120Z              0          2
10670    ENBO   071550Z            170         11
13506    ENBO   050850Z            110          6
10283    ENBO   301520Z            360          7
3662     ENBO   161120Z            310         18
7390     ENBO   010350Z            290          6

In [3]:
df_ENOL.sample(10)

      Airport Date/time Wind_direction Wind_speed
11629    ENOL   281450Z            340          8
5375     ENOL   210250Z            110          7
16884    ENOL   142320Z            260         13
1057     ENOL   221720Z            240         17
11122    ENOL   180420Z            130         13
11218    ENOL   200350Z            110          8
11891    ENOL   030250Z            130         12
16932    ENOL   152320Z            270         24
9109     ENOL   070920Z            360         11
2387     ENOL   190720Z            130         15