I del 1 av Oppgave 3 ser vi en data frame som henter ut et sample av 10 linjer med data og plasserer de i sine respektive kolonner. Det har vi løst med list comprehension. Vi ser også at manglende verdier blir fylt med NaN. 

I vårt prosjekt ser vi i hovedsak på vind-retning og -hastighet. Dette er verdier **. Derfor kjører vi en annen funksjon nedenfor som eksluderer irrelevante kolonner for vårt prosjekt.

In [8]:
import sys, os
import pandas as pd

sys.path.insert(0, '../src/')
#henter dataFrame_metar.py fil fra src mappa.
import dataFrame_wind as dataframe

#variabler 
column_names = ["Airport", "Date/time", "Wind_direction", "Wind_speed", "Gust_speed"]

#column_names = ["Airport", "Date/time", "Wind/direction", "Variable wind", "Cloud 1", "Cloud 2", "Cloud 3", "Cloud 4", "Cloud 5", "Temp/dewpoint", "QNH/pressure"]
#Henter filene fra data mappa
file_paths = {
    "ENOL": '../data/ENOL_metar_data.json',
    "ENBO": '../data/ENBO_metar_data.json'
}

dfs = {}

#Itererer gjennom filene i file_paths
for airport, file_path in file_paths.items():
    if not os.path.exists(file_path):
        print(f"Filen {file_path} finnes ikke")
    else:
        df_m = pd.read_json(file_path)
        dfs[airport] = dataframe.metar_df(column_names, df_m)
        #df = dataframe.metar_df(column_names, df_m)
        print(f"filene {file_path} er lagret i dataframe for {airport}")

df_ENBO = dfs.get("ENBO")
df_ENOL = dfs.get("ENOL")
df_ENOL.to_csv('../data/ENOL_metar_data.csv', index = False)
df_ENBO.to_csv('../data/ENBO_metar_data.csv', index = False )
print("data frame av ENOL som inneholder Airport, Date/time, Wind_direction, Wind_speed, Gust_speed, er lagert i folder: data" )
print("data frame av ENBO som inneholder Airport, Date/time, Wind_direction, Wind_speed, Gust_speed, lagert i folder: data" )

filene ../data/ENOL_metar_data.json er lagret i dataframe for ENOL
filene ../data/ENBO_metar_data.json er lagret i dataframe for ENBO
data frame av ENOL som inneholder Airport, Date/time, Wind_direction, Wind_speed, Gust_speed, er lagert i folder: data
data frame av ENBO som inneholder Airport, Date/time, Wind_direction, Wind_speed, Gust_speed, lagert i folder: data

Henter ut et sample for Bodø og Ørland.

In [2]:
df_ENBO.sample(10)

      Airport Date/time Wind_direction Wind_speed Gust_speed
11108    ENBO   162020Z            230         14          0
15419    ENBO   131450Z            260         32         42
2025     ENBO   111550Z             80         13          0
2569     ENBO   221620Z            100         17          0
11329    ENBO   211050Z            250         15          0
14337    ENBO   221120Z            210         14          0
17138    ENBO   182150Z            110         36         47
14516    ENBO   260320Z            230         17          0
7755     ENBO   081750Z            200          8          0
7809     ENBO   092020Z             30          9          0

In [3]:
df_ENOL.sample(10)

      Airport Date/time Wind_direction Wind_speed Gust_speed
15171    ENOL   091920Z            120          6          0
16324    ENOL   030850Z            300          5          0
11118    ENOL   180220Z            130         10          0
5910     ENOL   020350Z            100          7          0
10936    ENOL   140820Z            140         14          0
2045     ENOL   120450Z            120         24          0
8950     ENOL   040120Z             50          3          0
404      ENOL   090650Z            250         16          0
16884    ENOL   142320Z            260         13          0
1681     ENOL   041520Z             80          4          0