In [11]:
import sys, os
import pandas as pd

sys.path.insert(0, '../src/')
#henter dataFrame_metar.py fil fra src mappa.
import dataFrame_metar as dataframe

#Mulige værdata kolonner man kan hente ut fra funksjonen:
#column_names = ["Airport", "Date/time", "Wind_direction", "Wind_speed","Gust_speed", "Variable wind", "Cloud 1", "Cloud 2", "Cloud 3", "Cloud 4", "Cloud 5", "Temp/dewpoint", "QNH"]

#Velger ut hvilke kolonner med data jeg trenger. 
column_names = ["Airport", "Date/time", "Wind_direction", "Wind_speed", "Gust_speed","QNH"] 

#Henter filene fra data mappa
file_paths = {
    "ENOL": '../data/json/ENOL_metar_data.json',
    "ENBO": '../data/json/ENBO_metar_data.json'
}

dfs = {}

#Itererer gjennom filene i file_paths
for airport, file_path in file_paths.items():
    if not os.path.exists(file_path):
        print(f"Filen {file_path} finnes ikke")
    else:
        df_m = pd.read_json(file_path)
        dfs[airport] = dataframe.metar_df(column_names, df_m)
        #df = dataframe.metar_df(column_names, df_m)
        print(f"filene {file_path} er lagret i dataframe for {airport}")

df_ENBO = dfs.get("ENBO")
df_ENOL = dfs.get("ENOL")

filene ../data/json/ENOL_metar_data.json er lagret i dataframe for ENOL
filene ../data/json/ENBO_metar_data.json er lagret i dataframe for ENBO

In [10]:
#Sjekker om dataene er lastet inn i dataframes
df_ENBO.sample(10)

      Airport Date/time Wind_direction Wind_speed Gust_speed   QNH
8095     ENBO   151820Z             20          7        NaN  1009
10857    ENBO   111320Z             20          7        NaN  1000
5261     ENBO   181650Z            100         12        NaN  1013
8689     ENBO   272220Z             70          7        NaN  1007
1127     ENBO   240650Z             90         22        NaN  0988
3037     ENBO   031050Z             80         13        NaN  1020
15943    ENBO   241220Z            120          5        NaN  0999
14551    ENBO   262050Z            100         22        NaN  1003
13309    ENBO   010750Z            280         22        NaN  1018
2741     ENBO   260650Z            260         13        NaN  1000

Lagerer data fra kolonnene: Airport, Date/time, Wind_direction, Wind_speed, Gust_speed og QNH. De nye csv-filene inkulderer ikke data som ikke tilhører de angitte kolonnenavnene, da vi anser disse dataene som både uforutsigbare og unødvendige for vår analyse.

In [ ]:
# lagrer data fra dataframen i en csv-fil
df_ENOL.to_csv('../data/csv/ENOL_wind_data.csv', index = False)
df_ENBO.to_csv('../data/csv/ENBO_wind_data.csv', index = False)