In [1]:
# Importerer nødvendige biblioteker
import sys
import pandas as pd 
import numpy as np

In [2]:
# Importer data fra csv
file_path_ENOL = '../data/csv/ENOL_wind_data.csv'
df_ENOL = pd.read_csv(file_path_ENOL)
file_path_ENBO = '../data/csv/ENBO_wind_data.csv'
df_ENBO = pd.read_csv(file_path_ENBO)

# Viser de første 5 rekkene av df_ENOL
df_ENOL.head(5)

  Airport Date/time  Wind_direction  Wind_speed  Gust_speed   QNH
0    ENOL   010020Z             120          31         NaN  1007
1    ENOL   010050Z             120          31         NaN  1006
2    ENOL   010120Z             120          32         NaN  1006
3    ENOL   010150Z             120          29        39.0  1006
4    ENOL   010220Z             120          30        44.0  1006

In [3]:
df_ENBO.head(5)

  Airport Date/time  Wind_direction  Wind_speed  Gust_speed   QNH
0    ENBO   010020Z             100          26         NaN  1019
1    ENBO   010120Z             110          27         NaN  1018
2    ENBO   010150Z             110          28         NaN  1018
3    ENBO   010220Z             110          24         NaN  1019
4    ENBO   010250Z             100          26         NaN  1018

Definerer variabelen "airport" for å gjøre beregningnen dynamisk. Beregner først for ENOL og deretter ENBO.

In [4]:
# Velger hvilken flyplass vi vil analysere
airport = df_ENOL

# Beregner gjennomsnitt av interessant data for Ørland (ENOL)
avg_wind_direction = airport["Wind_direction"].mean().round(1)
avg_wind_speed = airport["Wind_speed"].mean().round(1)
avg_gust_speed = airport["Gust_speed"].mean().round(1)
avg_QNH = airport["QNH"].mean().round(1)

# Beregner median
median_wind_direction = airport["Wind_direction"].median().round(1)
median_wind_speed = airport["Wind_speed"].median().round(1)
median_gust_speed = airport["Gust_speed"].median().round(1)
median_QNH = airport["QNH"].median().round(1)

# Beregner standardavvik
std_wind_direction = airport["Wind_direction"].std().round(1)
std_wind_speed = airport["Wind_speed"].std().round(1)
std_gust_speed = airport["Gust_speed"].std().round(1)
std_QNH = airport["QNH"].std().round(1)

# Skriver ut resultater
print("Resultater for Ørland (ENOL):")
print("Gjennomsnittlig vindretning:", avg_wind_direction)
print("Gjennomsnittlig vindhastighet:", avg_wind_speed)
print("Gjennomsnittlig vindkasthastighet:", avg_gust_speed)
print("Gjennomsnittlig trykk:",avg_QNH)
print("Median vindretning:", median_wind_direction)
print("Median vindhastighet:", median_wind_speed)
print("Median vindkasthastighet:", median_gust_speed)
print("Median trykk:", median_QNH)
print("Standardavvik vindretning:", std_wind_direction)
print("Standardavvik vindhastighet:", std_wind_speed)
print("Standardavvik vindkasthastighet:", std_gust_speed)
print("Standardavvik trykk:", std_QNH)

Resultater for Ørland (ENOL):
Gjennomsnittlig vindretning: 182.3
Gjennomsnittlig vindhastighet: 11.8
Gjennomsnittlig vindkasthastighet: 40.3
Gjennomsnittlig trykk: 1007.9
Median vindretning: 140.0
Median vindhastighet: 11.0
Median vindkasthastighet: 40.0
Median trykk: 1008.0
Standardavvik vindretning: 93.3
Standardavvik vindhastighet: 7.1
Standardavvik vindkasthastighet: 7.4
Standardavvik trykk: 12.9

In [5]:
airport = df_ENBO
# Beregner gjennomsnitt av interessant data for Bodø (ENBO)
avg_wind_direction = airport["Wind_direction"].mean().round(1)
avg_wind_speed = airport["Wind_speed"].mean().round(1)
avg_gust_speed = airport["Gust_speed"].mean().round(1)
avg_QNH = airport["QNH"].mean().round(1)

# Beregner median
median_wind_direction = airport["Wind_direction"].median().round(1)
median_wind_speed = airport["Wind_speed"].median().round(1)
median_gust_speed = airport["Gust_speed"].median().round(1)
median_QNH = airport["QNH"].median().round(1)

# Beregner standardavvik
std_wind_direction = airport["Wind_direction"].std().round(1)
std_wind_speed = airport["Wind_speed"].std().round(1)
std_gust_speed = airport["Gust_speed"].std().round(1)
std_QNH = airport["QNH"].std().round(1)
avg_wind_direction = airport["Wind_direction"].mean().round(1)
avg_wind_speed = airport["Wind_speed"].mean().round(1)
avg_gust_speed = airport["Gust_speed"].mean().round(1)

# Beregner median
median_wind_direction = airport["Wind_direction"].median().round(1)
median_wind_speed = airport["Wind_speed"].median().round(1)
median_gust_speed = airport["Gust_speed"].median().round(1)

# Beregner standardavvik
std_wind_direction = airport["Wind_direction"].std().round(1)
std_wind_speed = airport["Wind_speed"].std().round(1)
std_gust_speed = airport["Gust_speed"].std().round(1)

# Skriver ut resultater
print("Resultater for Bodø (ENBO):")
print("Gjennomsnittlig vindretning:", avg_wind_direction)
print("Gjennomsnittlig vindhastighet:", avg_wind_speed)
print("Gjennomsnittlig vindkasthastighet:", avg_gust_speed)
print("Gjennomsnittlig trykk:",avg_QNH)
print("Median vindretning:", median_wind_direction)
print("Median vindhastighet:", median_wind_speed)
print("Median vindkasthastighet:", median_gust_speed)
print("Median trykk:", median_QNH)
print("Standardavvik vindretning:", std_wind_direction)
print("Standardavvik vindhastighet:", std_wind_speed)
print("Standardavvik vindkasthastighet:", std_gust_speed)
print("Standardavvik trykk:", std_QNH)

Resultater for Bodø (ENBO):
Gjennomsnittlig vindretning: 158.2
Gjennomsnittlig vindhastighet: 13.6
Gjennomsnittlig vindkasthastighet: 39.3
Gjennomsnittlig trykk: 1006.8
Median vindretning: 110.0
Median vindhastighet: 12.0
Median vindkasthastighet: 40.0
Median trykk: 1009.0
Standardavvik vindretning: 89.6
Standardavvik vindhastighet: 7.4
Standardavvik vindkasthastighet: 10.0
Standardavvik trykk: 12.7

In [6]:
df_ENOL.groupby('Wind_direction')[['Wind_speed', 'Gust_speed', 'QNH']].mean()

                Wind_speed  Gust_speed          QNH
Wind_direction
0                 1.644647         NaN  1010.683371
10                8.880682   28.500000  1007.681818
20                8.325397         NaN  1007.412698
30                8.158273         NaN  1008.841727
40                6.285714         NaN  1007.952381
50                5.567416         NaN  1008.814607
60                5.905350   21.000000  1006.300412
70                5.696246         NaN  1004.624573
80                6.579805         NaN  1006.846906
90                6.916244         NaN  1007.571066
100               7.972678         NaN  1005.876138
110               9.550551   33.125000  1007.017017
120              12.371885   38.020000  1008.172524
130              15.233923   42.044643  1007.748382
131               0.000000         NaN  1004.000000
140              13.825000   33.500000  1002.444167
150              10.193750   34.000000  1003.381250
160               6.529851   26.000000  1004.201493
170               5.637255         NaN  1006.843137
180               6.077778         NaN  1007.305556
190               6.582857         NaN  1008.651429
200               7.317365   29.666667  1011.311377
210               8.561856   27.500000  1008.448454
220              10.640327   44.833333  1008.463215
230              13.309798   45.828571  1007.971182
240              14.806283   39.011905  1008.072251
245               2.000000         NaN   971.000000
250              16.239802   38.771739  1009.826947
260              16.047985   41.508475  1009.153551
270              17.705691   43.456790  1009.173984
280              15.155738   41.188679  1010.026639
290              13.525066   35.520000  1011.791557
300              12.519737   39.866667  1008.671053
310              11.848387   36.409091  1008.312903
320              11.143266   37.909091  1008.707736
330              11.098726   41.222222  1008.372611
340              10.460591   40.500000  1010.948276
350              10.703571   42.000000  1010.748214
360               9.749141   32.000000  1009.756014

In [7]:
df_ENOL.groupby('QNH')[['Wind_direction', 'Wind_speed', 'Gust_speed']].mean()

      Wind_direction  Wind_speed  Gust_speed
QNH
956       137.500000   20.750000         NaN
957       136.666667   15.833333         NaN
958       140.000000   15.750000         NaN
959       120.000000   21.500000         NaN
960       150.000000   18.333333         NaN
...              ...         ...         ...
1036      254.400000   15.900000         NaN
1037      265.555556   14.000000         NaN
1038      223.333333    8.000000         NaN
1039      197.500000    5.300000         NaN
1040      206.666667    6.666667         NaN

[85 rows x 3 columns]

In [8]:
# Finner max wind og gust speed for flyplassene
max_wind_speed_enol = df_ENOL["Wind_speed"].max()
max_wind_speed_enbo = df_ENBO["Wind_speed"].max()
max_gust_speed_enol = df_ENOL["Gust_speed"].max()
max_gust_speed_enbo = df_ENOL["Gust_speed"].max()

# Srkriver ut max vind og gust speed
print("Wind og Gust speed for ENOL")
print("Maksimal vindhastighet:", max_wind_speed_enol)
print("Maksimal styrke på vindkast:", max_gust_speed_enol)
print("\nWind og Gust speed for ENBO")
print("Maksimal vindhastighet:", max_wind_speed_enbo)
print("Maksimal styrke på vindkast:", max_gust_speed_enbo)

Wind og Gust speed for ENOL
Maksimal vindhastighet: 54
Maksimal styrke på vindkast: 71.0

Wind og Gust speed for ENBO
Maksimal vindhastighet: 62
Maksimal styrke på vindkast: 71.0

In [9]:
count_wind_speed_over_45_enol = (df_ENOL["Wind_speed"] >= 30).sum()
count_wind_speed_over_45_enbo = (df_ENBO["Wind_speed"] >= 30).sum()

print("Hvor ofte vindhastigheten er over 30 knop på Ørland:", count_wind_speed_over_45_enol)
print("Hvor ofte vindhastigheten er over 30 knop i Bodø:", count_wind_speed_over_45_enbo)

Hvor ofte vindhastigheten er over 30 knop på Ørland: 470
Hvor ofte vindhastigheten er over 30 knop i Bodø: 599

In [10]:
#henter fil fra src mappa.
sys.path.insert(0, '../src/')

from crosswind import is_crosswind

In [11]:
runway = 330 # beslutningsvariabel - rullebanevinkel til ENOL, kan bytte ut denne med 150 og får like mange tilfeller. 
wind_data = df_ENOL # data fra csv-fil 
crosswind_rows = [] # for å kunne visualisere det i en pandas.core.frame.Dateframe 
count = 0
# for-løkke som itererer over hver rad i datasettet. 

for _, datapoint in wind_data.iterrows():
    if is_crosswind(runway, datapoint["Wind_direction"], datapoint["Wind_speed"]):
        count += 1 # summerer antall tilfeller 
        crosswind_rows.append(datapoint)

# printer ut antall tilfeller med crosswind
print(f"Printer det totale antallet av tilfeller med crosswind som er lik: {count}")

# lager en data frame av crosswind_rows
crosswind_df = pd.DataFrame(crosswind_rows)
crosswind_df

Printer det totale antallet av tilfeller med crosswind som er lik: 84

      Airport Date/time  Wind_direction  Wind_speed  Gust_speed   QNH
1293     ENOL   271350Z             230          41        56.0  1000
1495     ENOL   311820Z             250          37        48.0   975
1499     ENOL   312020Z             220          43        55.0   971
1500     ENOL   312050Z             220          46        60.0   971
1501     ENOL   312120Z             220          40        51.0   971
...       ...       ...             ...         ...         ...   ...
16973    ENOL   161950Z             270          37        49.0   990
16974    ENOL   162020Z             270          36        47.0   991
16977    ENOL   162150Z             270          35        46.0   992
17598    ENOL   291750Z             260          35        45.0   992
17600    ENOL   291850Z             250          36        46.0   992

[84 rows x 6 columns]

In [12]:
runway = 330 # beslutningsvariabel - rullebanevinkel til ENOL, kan bytte ut denne med 150 og få like mange tilfeller. 
wind_data = df_ENOL #data fra csv-fil 
crosswind_rows = [] #for å kunne visualisere det i en pandas.core.frame.Dateframe 
best_count = float('inf')
optimal_runway = -1
#for-løkke som itererer over hver rad i datasettet. 
for angles in range(0, 180):
    count = 0

    for _, datapoint in wind_data.iterrows():
        if is_crosswind(angles, datapoint["Wind_direction"], datapoint["Wind_speed"]):
            count += 1 # summerer antall tilfeller 
            #crosswind_rows.append(datapoint)

    if count < best_count:
        best_count = count 
        optimal_runway = angles 

print(f"Printer det totale antallet av tilfeller med crosswind som er lik: {count}")
print(best_count, optimal_runway)
crosswind_df = pd.DataFrame(crosswind_rows)

crosswind_df

Printer det totale antallet av tilfeller med crosswind som er lik: 130
7 85

Empty DataFrame
Columns: []
Index: []

In [13]:
# første kode 

def is_crosswind_bad(runway_angle, wind_direction,wind_speed):
    wind_threshold = 34
    if wind_speed <= wind_threshold:
        return False    
    x = runway_angle
    x_ = (x+180) % 360

    if (x >=45 and x <=135) or (x_ >=45 and x_ <=135) :
        return abs(x-wind_direction) >= 45 and abs(x_-wind_direction) >= 45
    else:
        x_ok = min([x, x_], key= lambda x: abs(x-180))
        x_prob = max([x, x_], key= lambda x: abs(x-180))

        if x_prob > 180:
            return (x_prob-wind_direction > 45 or (wind_direction + 360) - x_prob > 45) and abs(x_ok-wind_direction)> 45
        else:
            return (x_prob - wind_direction > 45 or (x_prob+360)- wind_direction > 45) and abs (x_ok-wind_direction) > 45

print(is_crosswind_bad(30,350,36))

False