In [ ]:
# Importer data fra csv
import pandas as pd 
file_path_ENOL = '../data/csv/ENOL_metar_data.csv'
df_ENOL = pd.read_csv(file_path_ENOL)
file_path_ENBO = '../data/csv/ENBO_metar_data.csv'
df_ENBO = pd.read_csv(file_path_ENBO)


df_ENOL.head(5)

  Airport Date/time  Wind_direction  Wind_speed  Gust_speed   QNH
0    ENOL   010020Z             120          31         NaN  1007
1    ENOL   010050Z             120          31         NaN  1006
2    ENOL   010120Z             120          32         NaN  1006
3    ENOL   010150Z             120          29        39.0  1006
4    ENOL   010220Z             120          30        44.0  1006

In [49]:
df_ENBO.head(5)

  Airport Date/time  Wind_direction  Wind_speed  Gust_speed   QNH
0    ENBO   010020Z             100          26         NaN  1019
1    ENBO   010120Z             110          27         NaN  1018
2    ENBO   010150Z             110          28         NaN  1018
3    ENBO   010220Z             110          24         NaN  1019
4    ENBO   010250Z             100          26         NaN  1018

Definerer variabelen "airport" for å gjøre beregningnen dynamisk. Beregner først for ENOL og deretter ENBO.

In [51]:
airport = df_ENOL
# Beregner gjennomsnitt av interessant data for Ørland (ENOL)
avg_wind_direction = airport["Wind_direction"].mean().round(1)
avg_wind_speed = airport["Wind_speed"].mean().round(1)
avg_gust_speed = airport["Gust_speed"].mean().round(1)
avg_QNH = airport["QNH"].mean().round(1)

# Beregner median
median_wind_direction = airport["Wind_direction"].median().round(1)
median_wind_speed = airport["Wind_speed"].median().round(1)
median_gust_speed = airport["Gust_speed"].median().round(1)
median_QNH = airport["QNH"].median().round(1)

# Beregner standardavvik
std_wind_direction = airport["Wind_direction"].std().round(1)
std_wind_speed = airport["Wind_speed"].std().round(1)
std_gust_speed = airport["Gust_speed"].std().round(1)
std_QNH = airport["QNH"].std().round(1)

# Skriver ut resultater
print("Resultater for Ørland (ENOL):")
print("Gjennomsnittlig vindretning:", avg_wind_direction)
print("Gjennomsnittlig vindhastighet:", avg_wind_speed)
print("Gjennomsnittlig vindkasthastighet:", avg_gust_speed)
print("Gjennomsnittlig trykk:",avg_QNH)
print("Median vindretning:", median_wind_direction)
print("Median vindhastighet:", median_wind_speed)
print("Median vindkasthastighet:", median_gust_speed)
print("Median trykk:", median_QNH)
print("Standardavvik vindretning:", std_wind_direction)
print("Standardavvik vindhastighet:", std_wind_speed)
print("Standardavvik vindkasthastighet:", std_gust_speed)
print("Standardavvik trykk:", std_QNH)

Resultater for Ørland (ENOL):
Gjennomsnittlig vindretning: 182.3
Gjennomsnittlig vindhastighet: 11.8
Gjennomsnittlig vindkasthastighet: 40.3
Gjennomsnittlig trykk: 1007.9
Median vindretning: 140.0
Median vindhastighet: 11.0
Median vindkasthastighet: 40.0
Median trykk: 1008.0
Standardavvik vindretning: 93.3
Standardavvik vindhastighet: 7.1
Standardavvik vindkasthastighet: 7.4
Standardavvik trykk: 12.9

In [52]:
airport = df_ENBO
# Beregner gjennomsnitt av interessant data for Bodø (ENBO)
avg_wind_direction = airport["Wind_direction"].mean().round(1)
avg_wind_speed = airport["Wind_speed"].mean().round(1)
avg_gust_speed = airport["Gust_speed"].mean().round(1)
avg_QNH = airport["QNH"].mean().round(1)

# Beregner median
median_wind_direction = airport["Wind_direction"].median().round(1)
median_wind_speed = airport["Wind_speed"].median().round(1)
median_gust_speed = airport["Gust_speed"].median().round(1)
median_QNH = airport["QNH"].median().round(1)

# Beregner standardavvik
std_wind_direction = airport["Wind_direction"].std().round(1)
std_wind_speed = airport["Wind_speed"].std().round(1)
std_gust_speed = airport["Gust_speed"].std().round(1)
std_QNH = airport["QNH"].std().round(1)
avg_wind_direction = airport["Wind_direction"].mean().round(1)
avg_wind_speed = airport["Wind_speed"].mean().round(1)
avg_gust_speed = airport["Gust_speed"].mean().round(1)

# Beregner median
median_wind_direction = airport["Wind_direction"].median().round(1)
median_wind_speed = airport["Wind_speed"].median().round(1)
median_gust_speed = airport["Gust_speed"].median().round(1)

# Beregner standardavvik
std_wind_direction = airport["Wind_direction"].std().round(1)
std_wind_speed = airport["Wind_speed"].std().round(1)
std_gust_speed = airport["Gust_speed"].std().round(1)

# Skriver ut resultater
print("Resultater for Bodø (ENBO):")
print("Gjennomsnittlig vindretning:", avg_wind_direction)
print("Gjennomsnittlig vindhastighet:", avg_wind_speed)
print("Gjennomsnittlig vindkasthastighet:", avg_gust_speed)
print("Gjennomsnittlig trykk:",avg_QNH)
print("Median vindretning:", median_wind_direction)
print("Median vindhastighet:", median_wind_speed)
print("Median vindkasthastighet:", median_gust_speed)
print("Median trykk:", median_QNH)
print("Standardavvik vindretning:", std_wind_direction)
print("Standardavvik vindhastighet:", std_wind_speed)
print("Standardavvik vindkasthastighet:", std_gust_speed)
print("Standardavvik trykk:", std_QNH)

Resultater for Bodø (ENBO):
Gjennomsnittlig vindretning: 158.2
Gjennomsnittlig vindhastighet: 13.6
Gjennomsnittlig vindkasthastighet: 39.3
Gjennomsnittlig trykk: 1006.8
Median vindretning: 110.0
Median vindhastighet: 12.0
Median vindkasthastighet: 40.0
Median trykk: 1009.0
Standardavvik vindretning: 89.6
Standardavvik vindhastighet: 7.4
Standardavvik vindkasthastighet: 10.0
Standardavvik trykk: 12.7

In [53]:
max_wind_speed_enol = df_ENOL["Wind_speed"].max()
max_wind_speed_enbo = df_ENBO["Wind_speed"].max()
max_gust_speed_enol = df_ENOL["Gust_speed"].max()
max_gust_speed_enbo = df_ENOL["Gust_speed"].max()

print("Maksimal vindhastighet:", max_wind_speed_enol)
print("Maksimal styrke på vindkast:", max_gust_speed_enol)
print("Maksimal vindhastighet:", max_wind_speed_enbo)
print("Maksimal styrke på vindkast:", max_gust_speed_enbo)

Maksimal vindhastighet: 54
Maksimal styrke på vindkast: 71.0
Maksimal vindhastighet: 62
Maksimal styrke på vindkast: 71.0

In [54]:
count_wind_speed_over_45_enol = (df_ENOL["Wind_speed"] >= 30).sum()
count_wind_speed_over_45_enbo = (df_ENBO["Wind_speed"] >= 30).sum()

print("Hvor ofte vindhastigheten er over 30 knop på Ørland:", count_wind_speed_over_45_enol)
print("Hvor ofte vindhastigheten er over 30 knop i Bodø:", count_wind_speed_over_45_enbo)

Hvor ofte vindhastigheten er over 30 knop på Ørland: 470
Hvor ofte vindhastigheten er over 30 knop i Bodø: 599

In [65]:
wind_threshold = 35
airport = df_ENOL
runway = 330



print("Bruker faste verdier i dataframen for å regne ut hvor mange tilfeller winden overstiger 35 knop, "
"fra en spesifikk retning.")
lower_limit_1 = 195
upper_limit_1 = 285
lower_limit_2 = 15
upper_limit_2 = 105


incident_1 = airport["Wind_direction"].between(lower_limit_1,  upper_limit_1) & (airport["Wind_speed"] >= wind_threshold)
incident_2 = airport["Wind_direction"].between(lower_limit_2, upper_limit_2) & (airport["Wind_speed"] >= wind_threshold)

crosswind = incident_1 + incident_2

df_crosswind = airport[crosswind]

print("Antall NOFLY tilfeller pga cross wind i løpet av et år:", df_crosswind.shape[0])
df_crosswind

Bruker faste verdier i dataframen for å regne ut hvor mange tilfeller winden overstiger 35 knop, fra en spesifikk retning.
Antall NOFLY tilfeller pga cross wind i løpet av et år: 84

      Airport Date/time  Wind_direction  Wind_speed  Gust_speed   QNH
1293     ENOL   271350Z             230          41        56.0  1000
1495     ENOL   311820Z             250          37        48.0   975
1499     ENOL   312020Z             220          43        55.0   971
1500     ENOL   312050Z             220          46        60.0   971
1501     ENOL   312120Z             220          40        51.0   971
...       ...       ...             ...         ...         ...   ...
16973    ENOL   161950Z             270          37        49.0   990
16974    ENOL   162020Z             270          36        47.0   991
16977    ENOL   162150Z             270          35        46.0   992
17598    ENOL   291750Z             260          35        45.0   992
17600    ENOL   291850Z             250          36        46.0   992

[84 rows x 6 columns]

*Jobber med å finne en måte gjøre testen over til en dynamisk funksjon, slik at kun tar inn en runway verdi, og deretter regner den ut begrensinger i forbindelse med cross wind.

In [ ]:
wind_threshold = 35
airport = df_ENOL
runway = 330
grader_45 = 45
# Cross wind component ENOL ** Se på metoder for å beregne crosswind component automatisk

def grader(grade):
    limit = 0
    if 315 <= grade <= 45:
        limit -= 360
    elif 225 <= grade <= 133:
        limit = limit - 360
    else: 
        limit = runway
    return limit

   

lower_limit_1 = grader(runway) + 45
upper_limit_1 = grader(runway) - 45
lower_limit_2 = grader(runway)/2 + 45
upper_limit_2 = grader(runway)/2 - 45
print(lower_limit_1)
print(upper_limit_1)
print(lower_limit_2)
print(upper_limit_2)