In [2]:
import sys, os
import pandas as pd
import nbimporter as nbi

sys.path.insert(0, '../src/')
#henter dataFrame_metar.py fil fra src mappa.
import dataFrame_metar as dataframe

# Mulige værdata-kolonner man kan hente ut fra funksjonen:
#column_names = ["Airport", "Date/time", "Wind_direction", "Wind_speed","Gust_speed", "Variable wind", "Cloud 1", "Cloud 2", "Cloud 3", "Cloud 4", "Cloud 5", "Temp/dewpoint", "QNH"]

airport1 = "ENOL"
airport2 = "ENBO"
#Velger ut hvilke kolonner med data jeg trenger. 
column_names = ["Airport", "Date/time", "Wind_direction", "Wind_speed", "Gust_speed","Temperature","Dewpoint","QNH"] 
#column_names = ["Airport", "Date/time","Cloud 1", "Cloud 2","QNH","Temperature","Dewpoint"]

#Henter filene fra data mappa
file_paths = {
    f"{airport1}": f'../data/json/{airport1}_metar_data.json',
    f"{airport2}": f'../data/json/{airport2}_metar_data.json'
}

dfs = {}

#Itererer gjennom filene i file_paths
for airport, file_path in file_paths.items():
    if not os.path.exists(file_path):
        print(f"Filen {file_path} finnes ikke")
    else:
        df_m = pd.read_json(file_path)
        dfs[airport] = dataframe.metar_df(column_names, df_m)
        #df = dataframe.metar_df(column_names, df_m)
        print(f"filene fra filbanen: {file_path}, er lagret som en dataframe for {airport}")

df_airport1 = dfs.get(f"{airport1}")
df_airport2 = dfs.get(f"{airport2}")

filene fra filbanen: ../data/json/ENOL_metar_data.json, er lagret som en dataframe for ENOL
filene fra filbanen: ../data/json/ENBO_metar_data.json, er lagret som en dataframe for ENBO

In [10]:
#Sjekker om dataene er lastet inn i dataframes
df_airport2.sample(10)

,Airport,Date/time,Wind_direction,Wind_speed,Gust_speed,Temperature,Dewpoint,QNH
12911,ENBO,230350Z,80,7,NaN,7,3,1012
1453,ENBO,302220Z,220,33,45,6,1,0997
10429,ENBO,021550Z,40,8,NaN,18,13,1013
8741,ENBO,282320Z,0,0,NaN,17,17,0998
12724,ENBO,190520Z,240,22,NaN,16,13,1022
14733,ENBO,301220Z,290,13,NaN,4,-4,1001
7942,ENBO,121450Z,270,11,NaN,12,8,1011
7844,ENBO,101350Z,230,10,NaN,13,10,0995
3596,ENBO,150320Z,310,6,NaN,2,2,0986
8497,ENBO,232320Z,230,22,NaN,11,10,1009

Lagerer data fra kolonnene: Airport, Date/time, Wind_direction, Wind_speed, Gust_speed og QNH. De nye csv-filene inkulderer ikke data som ikke tilhører de angitte kolonnenavnene, da vi anser disse dataene som både uforutsigbare og unødvendige for vår analyse.

In [8]:
# lagrer data fra dataframen i en csv-fil
df_ENOL.to_csv('../data/csv/ENOL_wind_data.csv', index = False)
df_ENBO.to_csv('../data/csv/ENBO_wind_data.csv', index = False)
print(f"Lagret dataframene som csv-filer med færre kolonner.")

Lagret dataframene som csv-filer med færre kolonner.