In [1]:
import sys, os
import pandas as pd

sys.path.insert(0, '../src/')
#henter dataFrame_metar.py fil fra src mappa.
import dataFrame_wind as dataframe

#variabler 
column_names = ["Airport", "Date/time", "Wind_direction", "Wind_speed"]

#Henter filene fra data mappa
file_paths = {
    "ENOL": '../data/ENOL_metar_data.json',
    "ENBO": '../data/ENBO_metar_data.json'
}

dfs = {}

#Itererer gjennom filene i file_paths
for airport, file_path in file_paths.items():
    if not os.path.exists(file_path):
        print(f"Filen {file_path} finnes ikke")
    else:
        df_m = pd.read_json(file_path)
        dfs[airport] = dataframe.metar_df(column_names, df_m)
        #df = dataframe.metar_df(column_names, df_m)
        print(f"filene {file_path} er lagret i dataframe for {airport}")

df_ENBO = dfs.get("ENBO")
df_ENOL = dfs.get("ENOL")

#Sjekker om dataene er lastet inn i dataframes
df_ENBO.sample(10)

filene ../data/ENOL_metar_data.json er lagret i dataframe for ENOL
filene ../data/ENBO_metar_data.json er lagret i dataframe for ENBO

      Airport Date/time Wind_direction Wind_speed
1603     ENBO   022350Z             90         15
11115    ENBO   162350Z            170          9
9251     ENBO   090950Z            260         12
12927    ENBO   231120Z            100         12
6443     ENBO   122120Z            110          9
6242     ENBO   081650Z            100         13
4304     ENBO   292050Z            100         22
15287    ENBO   102150Z            110         10
14309    ENBO   212120Z            250         35
10665    ENBO   071320Z            140          9

In [2]:
df_ENOL.sample(10)

      Airport Date/time Wind_direction Wind_speed
3731     ENOL   180120Z            130         16
14474    ENOL   261220Z            130         20
16906    ENOL   151020Z            140         17
9440     ENOL   140550Z             90          3
2357     ENOL   181620Z            110         11
13313    ENOL   021350Z            260         17
5362     ENOL   202020Z             10          6
7817     ENOL   101520Z            320         13
3542     ENOL   140350Z            130         15
7621     ENOL   061520Z            340         11